$dark-overlay:rgba(0,0,0,0.7);
$icon-size: 55px;
.navbar{
    background: #000;
    .nav-item{
        padding-left: 1em;;
    }
    .nav-link{
        text-transform: uppercase;
    }
}
#home-icon{
    .fa{
        font-size: $icon-size;
    }
}
#ready{
    position: relative;
    background: url(../img/people1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
#video{
    position: relative;
    background: url(../img/computer.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    .fa{
        font-size: $icon-size;
        color: red;
    }
    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
#photo{
    img{
        min-height: 250px;
    }
}
#copyright{
    background: #000;
}
#about{
    background: url(../img/cyber.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
}
#card{
    .fa{
        font-size: $icon-size;
    }
}
#testimonial{
    .slick-prev::before{
        color: red;
    }
    .slick-next::before{
        color: red;
    }
}
#services{
    background: url(../img/gather.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    background-attachment: fixed;
}
#blog{
    background: url(../img/Emotionalgirl.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    background-attachment: fixed;
}
#contact{
    background: url(../img/girllaptop.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
}
#programer{
    .fa{
        font-size: 25px;
    }
    .fa:hover{
        color:rgb(10, 133, 235)
    }
    img:hover{
        cursor: pointer;
    }
}






@media(max-width:767px){
    .nav-item{
        padding-left: 0em !important;
    }
    #ready{
        h3{
            margin-top: -10px;
        }
    }
}


@media(max-width:575px){
    #ready{
        min-height: 300px;
        h3{
            font-size: 30px;
            margin-top: -10px;
        }
    }
}



@media(max-width:480px){
    #size{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 17px;
        }
    }
    #ready{
        min-height: 300px;
        h3{
            font-size: 30px;
            margin-top: 5px;
        }
        p{
            font-size: 17px;
        }
    }
}


@media(max-width:439px){
    #ready{
        h3{
            margin-top: -20px;
        }
    }
}


@media(max-width:375px){
    #size{
        h1{
            font-size: 23px;
            margin-top: -10px;
        }
        p{
            font-size: 16px;
        }
        button{
            padding: 0 20px;
            font-size: 12px;
            margin-top: -7px;
        }
    }
    #ready{
        h3{
            font-size: 23px;
            margin-top: 3px;
        }
        p{
            font-size: 17px;
        }
    }
}